.box_main{
    position: fixed;width: 100%;height: 100vh;
}
.header_box_child{
    width: 100%;height: 120px;
}
.header_box{
    display: flex;padding: 10px;padding-bottom: 2.5rem;
}
.search_box{
    width: calc(100% - 100px);height: 35px;background: white;padding-right: 10px;border-radius: 4px;display: flex;
}
.search_icon_box{
    width: 28px;height: 28px;
}
.search_icon_box div{
    padding: 4px;
}
.input_search{
    width: calc(100% - 34px);height: 34px;outline: none;border: none;background: none;
}
.cart_box,.account_box{
    width: 50px;height: 40px;
}
.cart_box div,.account_box div{
    float: right;
}
.cart_box div img,.account_box div img{
    float: right;
}